@using Core.Entities

@model IEnumerable<Operacao>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Carteira</th>
            <th>Papel</th>
            <th>Preço Atual</th>
            <th>Preço Entrada</th>
            <th>Preço Stop</th>
            <th>Preço Gain</th>
            <th>Resultado Atual</th>
            <th>Situação</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operacao in Model)
        {
        <tr>
            <td class="align-middle">@operacao.Id</td>
            <td class="align-middle">@operacao.Carteira.Nome</td>
            <td class="align-middle">@operacao.Papel</td>
            <td class="align-middle">-</td>
            <td class="align-middle">@operacao.PrecoEntrada.ToString("c2")</td>
            <td class="align-middle">@operacao.PrecoStop.ToString("c2")</td>
            <td class="align-middle">@operacao.PrecoGain.ToString("c2")</td>
            <td class="align-middle">@operacao.Resultado.ToString("00.00")</td>
            <td class="align-middle">@operacao.Tipo</td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Edit"
                   asp-route-carteiraId="@operacao.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-lg"
                   asp-page="./Delete"
                   asp-route-carteiraId="@operacao.Id">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
